@import "common/foundation/variables";

.sidebar {
  background: white;
  padding: 0 1em;
  .card {
    border: 1px solid $secondary-high;
    background: $secondary;
    min-height: 200px;
    width: 200px;
    padding: .5em;
    margin: .5em 0;
    box-sizing: border-box;
  }
}

.topic-area > .posts-wrapper {
  display: flex;
}

/* rainbow nav*/
.navigation-container > .nav-pills > li:not(:empty) {
    color: white;
    float: left;
    padding: 2px 5px;
    margin-left: 5px;
    display: inline-block;
    list-style-type: none;
    text-align: center;
    position: relative;
    
    > a {
        mix-blend-mode: multiply;
    }

    &:nth-child(6n + 1) {
    	background-color: #ff003c;
    }
    &:nth-child(6n + 2) {
    	background-color: #fdb720;
    }
    &:nth-child(6n + 3) {
    	background-color: #b2d122;
    }
    &:nth-child(6n + 4) {
    	background-color: #22bfd1;
    }
    &:nth-child(6n + 5) {
    	background-color: #537fd6;
    }
    &:nth-child(6n + 6) {
        background-color: #837fd6;
    }
    
    &:hover, &.active {
		> a {
			color: initial;
			background-color: unset;
		}

		&:after {
			content: '';
			display: block;
			height: 4px;
			background: inherit;
			margin-top: 16px;
			position: absolute;
			bottom: -5px;
			width: 100%;
			left: 0;
			border-radius: 20px;
			border-width: 1px;
			border-style: solid;
			box-sizing: border-box;
		}
    }
}


/* sticky header */
.d-header {
    top: 0;
    height: auto;
    position: sticky/* !important*/;
    padding: 10px 5px;
}

.d-header .logo-big {
    height: 6.57em !important;
}

.d-header .logo-small {
    height: 2.57em !important;
}

#main-outlet {
    padding-top: 8.8572em;
}
