<section class="wrap">
    <p style="text-align:center;">Copyright &copy; Boypoint</p>
    <ul class="nav nav-pills">
        <li><a href="/">Forenübersicht</a></li>
        <li><a href="https://www.boypoint.de/impressum/">Impressum</a></li>
        <li><a href="/g/moderators">Das Team</a></li>
        <li><a href="/u/">Mitgliederliste</a></li>
        <li><a href="https://www.boypoint.de/wissen/faq/">FAQ</a></li>
        <li><a href="https://www.boypoint.de/guide/">Guide</a></li>
        <li><a href="/chat/">Chat</a></li>
    </ul>
</section>
